.main-page {
  display: flex;
  height: 82vh;
  justify-content: flex-end;
}


.container-text {

  margin-top: 215px;
  padding-right: 15px;;

  .head-text {
    color: #fdd000;
    text-align: right;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 44px;
    font-weight: bold;
    letter-spacing: 3.5px;
  }

  .text {
    color: #DFDFDF;
    text-align: right;
    font-weight: lighter;
    font-size: 30px;

  }

}

.container-calendar {
  padding-top: 215px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #272829;

  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 467px;
    height: 467px;
    //border: 1px solid white;
    color: #DFDFDF;

    @media screen and (max-width: 768px) {
      transform: scale(0.8)
    }
  }
}
