.about-container{
  display: flex;
  justify-content: center;

  background: white;
  min-height: 82vh;

  @media screen and (max-width: 768px){
    padding: 0 10px;

  }

  .about {
    margin-top: 98px;
    color: #3D3D3D;

    .about-header-label {
      letter-spacing: -0.68px;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 78px;

    }
    .about-header-text {
      letter-spacing: 0.4px;
      font-size: 20px;
      max-width: 1336px;
      font-weight: lighter;
    }
  }


}
